<div class="table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th colspan="2">Name</th>
        <th>HP</th>
        <th>ATK</th>
        <th>DEF</th>
        <th>SPD</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% pokedexes.each_with_index do |pokedex, index| %>
        <tr>
          <th scope="row"><%= index+1 %></td>
          <td style="width:4rem">
            <img src="<%= pokedex.image_url %>" alt="<%= pokedex.name %>" class="img-thumbnail">
          </td>
          <td>
            <a href="<%= pokedex_path(pokedex) %>"> <%= pokedex.name %></a>
          </td>
          <td><%= pokedex.health_point %></td>
          <td><%= pokedex.base_attack %></td>
          <td><%= pokedex.base_defense %></td>
          <td><%= pokedex.base_speed %></td>
          <td>
            <%= render 'layouts/type_badge', type: pokedex.element_type.titleize %>
          </td>
          <td>
            <a class="btn btn-secondary" href="<%= edit_pokedex_path(pokedex)  %>">Edit</a>
            <%= link_to "Delete", pokedex_path(pokedex),data: { "turbo-method": :delete },  class: 'btn btn-danger', method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
