<%= render 'layouts/breadcrumbs' %>

<div class="d-flex align-items-center justify-content-between">
  <h1>Pokédex</h1>
  <a href="<%= new_pokedex_path %>" class="btn btn-primary">Create New Pokédex</a>
</div>

<%= render 'layouts/search_form' %>

<%= render 'table', pokedexes: @pokedexes %>

<%= paginate @pokedexes,theme: 'bootstrap-5',
                   pagination_class: "pagination flex-wrap justify-content-center me-auto",
                   nav_class: "d-inline-block" %>
