<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/breadcrumbs' %>
  </div>
  <div class="row">
    <h1><%= @pokedex.name %></h1>
  </div>
  <div class="row">
    <div class="col-4">
      <img src="<%= @pokedex.image_url %>" alt="<%= @pokedex.name %>" class="img-thumbnail">
    </div>
    <div class="col">
      <dl class="row">
        <dt class="col-sm-3">Name</dt>
        <dd class="col-sm-9"><%= @pokedex.name %></dd>

        <dt class="col-sm-3">Health Point (HP)</dt>
        <dd class="col-sm-9"><%= @pokedex.health_point %></dd>

        <dt class="col-sm-3">Attack (ATK)</dt>
        <dd class="col-sm-9"><%= @pokedex.base_attack %></dd>

        <dt class="col-sm-3">Defense (DEF)</dt>
        <dd class="col-sm-9"><%= @pokedex.base_defense %></dd>

        <dt class="col-sm-3">Speed (SPD)</dt>
        <dd class="col-sm-9"><%= @pokedex.base_speed %></dd>

        <dt class="col-sm-3">Element Type</dt>
        <dd class="col-sm-9">
          <%= render 'layouts/type_badge', type: @pokedex.element_type.titleize %>
        </dd>
      </dl>
    </div>
  </div>

</div>
