<div class="table-responsive-md">
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Power</th>
        <th>Max PP</th>
        <th>Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% skills.each_with_index do |skill, index| %>
        <tr>
          <th scope="row"><%= index+1 %></td>
          <td>
            <a href="<%= skill_path(skill) %>"> <%= skill.name.titleize %></a>
          </td>
          <td><%= skill.power %></td>
          <td><%= skill.max_pp %></td>
          <td>
            <%= render 'layouts/type_badge', type: skill.element_type.titleize %>
          </td>
          <td>
            <a class="btn btn-secondary" href="<%= edit_skill_path(skill)  %>">Edit</a>
            <%= link_to "Delete", skill_path(skill),data: { "turbo-method": :delete, turbo_confirm: "Are you sure want to delete #{skill.name.titleize}?" },  class: 'btn btn-danger', method: :delete %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
