<%= render 'layouts/breadcrumbs' %>
<div class="container-fluid">
  <div class="row mb-2">
    <div class="d-flex align-items-center justify-content-between">
      <h2><%= @pokemon.name %></h2>
      <div class="d-flex">
        <a class="btn btn-success me-2" href="<%= pokemon_heal_path(@pokemon) %>">Heal</a>
        <a class="btn btn-secondary me-2" href="<%= edit_pokemon_path(@pokemon) %>">Edit</a>
        <%= link_to "Delete", pokemon_path(@pokemon), data: { turbo_method: :delete, turbo_confirm: "Are you sure want to delete #{@pokemon.name} ?" }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <img src="<%= @pokemon.pokedex.image_url %>" alt="<%= @pokemon.name %>" class="img-thumbnail">
    </div>
    <div class="col">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">Profile</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="pills-other-tab" data-bs-toggle="pill" data-bs-target="#pills-other" type="button" role="tab" aria-controls="pills-other" aria-selected="false">Other</button>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <dl class="row">
            <dt class="col-sm-3">Name</dt>
            <dd class="col-sm-9"><%= @pokemon.name %></dd>

            <dt class="col-sm-3">Level</dt>
            <dd class="col-sm-9"><%= @pokemon.level %></dd>

            <dt class="col-sm-3 mb-2">Experience</dt>
            <dd class="col-sm-9">
              <div class="col-6">
                <%= render 'layouts/experience_bar', pokemon: @pokemon %>
              </div>
            </dd>

            <dt class="col-sm-3 mb-2">Health Point (HP)</dt>
            <dd class="col-sm-9">
              <div class="col-6">
                <%= render 'layouts/health_bar', pokemon: @pokemon %>
              </div>
            </dd>

            <dt class="col-sm-3">Kind</dt>
            <dd class="col-sm-9">
              <a href="<%= pokedex_path(@pokemon.pokedex) %>"><%= @pokemon.pokedex.name %></a>
            </dd>

            <dt class="col-sm-3">Element Type</dt>
            <dd class="col-sm-9">
              <%= render 'layouts/type_badge', type: @pokemon.pokedex.element_type.titleize %>
            </dd>

            <dt class="col-sm-3">Attack (ATK)</dt>
            <dd class="col-sm-9"><%= @pokemon.attack %></dd>

            <dt class="col-sm-3">Defense (DEF)</dt>
            <dd class="col-sm-9"><%= @pokemon.defense %></dd>

            <dt class="col-sm-3">Speed (SPD)</dt>
            <dd class="col-sm-9"><%= @pokemon.speed %></dd>

          </dl>
        </div>
        <div class="tab-pane fade" id="pills-other" role="tabpanel" aria-labelledby="pills-other-tab" tabindex="0">
          <p><%= @pokemon.name %> has fought <%= @pokemon.battles.count %>. As a result <%= @pokemon.name %> won <%= @pokemon.battle_won.count %> battle and lose <%= @pokemon.battle_lose.count %> battle</p>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Battle Fought</h5>
                  <p class="card-text">
                    <b>
                      <%= @pokemon.battles.count %>
                    </b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Battle Won</h5>
                  <p class="card-text text-success">
                    <b>
                      <%= @pokemon.battle_won.count %>
                    </b>
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <div class="card-body text-center">
                  <h5 class="card-title">Battle Lose</h5>
                  <p class="card-text text-danger">
                    <b>
                      <%= @pokemon.battle_lose.count %>
                    </b>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container-fluid mt-5">
  <div class="d-flex justify-content-between align-items-center my-2">
    <h3>List Attack</h3>
    <div class="d-flex">
      <% if @pokemon.pokemon_skills.count < 4 %>
        <button class="btn btn-secondary me-3" data-bs-toggle="modal" data-bs-target="#addSkillModal">Add Skill</button>
      <% end %>
      <a href="#" class="btn btn-secondary">Refill PP</a>
    </div>
  </div>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Skill</th>
        <th>Type</th>
        <th>PP</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @pokemon.pokemon_skills.each do |ref| %>
        <tr>
          <td>
            <a href="<%= skill_path(ref.skill) %>">
              <%= ref.skill.name.titleize %>
            </a>
          </td>
          <td>
            <%= render 'layouts/type_badge', type: ref.skill.element_type.titleize %>
          </td>
          <td>
            <%= ref.current_pp %> / <%= ref.skill.max_pp %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= render 'add_skill_modal', pokemon: @pokemon %>
