<!DOCTYPE html>
<html>
  <head>
    <title>Pokemon Rainbow</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "bootstrap.bundle.js" %>
    <%= favicon_link_tag asset_path('pokemon-icon.svg') %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <main class="container my-5">
      <%= render 'layouts/alert' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
